<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>archivos</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <script src="/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="/js/vendor/underscore-min.js"></script>
    <script src="/js/vendor/backbone-min.js"></script>
  </head>
  <body>
    <div id="wrap">

      <div class="container">
        <div class="page-header">
          <h1>Archivos</h1>
        </div>
        <p class="lead">An async s3 multi file uploader. Source available <a href="http://github.com/ebenoist/archivos">here</a>.</p>

        <form class="form-horizontal" id="main" action="v1/media" method="POST" enctype="multipart/form-data">
          <fieldset>
            <legend>Your order</legend>

            <div class="form-group">
              <label class="col-md-4 control-label" for="order_code">Order Code:</label>
              <div class="col-md-6">
                <input class="form-control" type="text" name="order_code" id="order_code" />
                <span class="help-block">The unique order number</span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-primary" type="submit" value="Login" id="checkOrder">Login</button>
              </div>
            </div>

          </fieldset>

          <fieldset id="upload">
            <legend>Upload files to your order</legend>

            <div class="form-group">
              <label class="col-md-4 control-label" for="files">Files:</label>
              <div class="col-md-6">
                <input class="form-control" type="file" name="files[]" id="files" multiple="multiple" />
                <span class="help-block">Select all the media files needed.</span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-4 col-md-offset-4">
                <input class="btn btn-primary" type="submit" value="Blocking Upload"></input>
              </div>
            </div>
          </fieldset>
        </form>

        <div class="upload-file-list">
          <table class="table table-striped table-condensed">
            <thead>
              <tr><th class="col-sm-6">File Name</th><th>Order Code</th></tr>
            </thead>
            <tbody id="upload-file-list">
            </tbody>
          </table>
        </div>

      </div> <!--end container-->
    </div> <!--end wrap-->

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Created by <a href="http://erikbenoist.com">Erik Benoist</a>.</p>
      </div>
    </div>
  </body>

  <script type="text/template" id="upload-list-template">
    <td><%= media.file_name() %></td>
    <td><%= media.get("order_code") %></td>
  </script>
  <script src="/js/archivos.js"></script>
  <script type="text/javascript">
    window.app = new ArchivosRouter();
    Backbone.history.start();
  </script>
</html>


